/* cover__subtitle */
.cover__subtitle {
    max-width: 320px;
    margin: 32px auto;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .cover__subtitle {
        font-size: calc(100vw * (18/ 768));
    }
}

@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
    .cover__subtitle {
        font-size: calc(100vw * (18/ 768));
        margin: 16px auto;
      
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: 288px;
        margin: 16px auto;
        font-size: 14px;
        line-height: 16px;
         overflow-x: hidden;
    }
}