@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);

.header{
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  padding:0 148px;
  margin-bottom:58px;

}

@media screen and (max-width: 1024px) {
  .header{
    max-width: 928px;
    padding:0 48px;
    margin-bottom: 50px;

  }
}

@media screen and (max-width: 768px) {
  .header{
    max-width: 720px;
    padding:0 24px;

  }
}

@media screen and (max-width: 320px) {
  .header{
    max-width: 288px;
    padding:0 16px;
  }
}