/* footer__copyright */
 .footer__copyright {
  margin-right:-48px; 
    /* margin:0; */
    padding: 0;
    width: 210px;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
} 

  @media screen and (max-width: 525px) {
    .footer__copyright {
        font-size: 14px;
        }
}    