/* intro */
@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-accent/intro__list-accent.css);

.intro {
    max-width: 984px;
    margin-top:0;
    margin-right: auto;
    margin-left:auto;
}
@media only screen and (max-width: 1024px) {
    .intro {
        padding: 88px 24px 0; 
    }
}

@media only screen and (max-width: 767px) {
    .intro {
        margin: auto;
        /* padding: 64px 24px 0 24px; */
    }
}

@media screen and (max-width: 374px) {
    .intro {
        padding: 64px 16px 0 16px;
    }
}
