@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url/place__url.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__description/place__description.css);
@import url(./__paragraph/place__paragraph.css);


.place{	
	color: white;
	margin-top: 92px;
	display: grid;
	grid-gap: 40px;
	row-gap: 48px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"title website"
	"image text"
	"image text"
	"image text";
	margin-right: auto;
	margin-left: auto;
	max-width:984px;
	box-sizing: border-box;
	}
	
	@media screen and (max-width: 1024px) {
	.place{
	max-width: 928px;
	
	margin-right:auto;
	margin-left:auto;
	grid-gap: 32px;
	row-gap: 24px;
	}
	}
	
	@media screen and (max-width: 768px) {
	.place{
	max-width: 720px;
	margin-top: 88px;
	margin-right: auto;
	margin-left:auto;
	grid-gap: 28px;
	row-gap: 24px;
	}
	}
	
	@media screen and (max-width: 450px) {
	.place{
	margin-top: 48px;
	grid-template-columns: auto;
	grid-gap: 24px;
	margin-right: 16px;
	margin-left: 16px;
	grid-template-areas:
	"title"
	"image"
	"text";
	}
	}
	

