/* footer */
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
.footer {
    display: flex;
    max-width: 1184px; 
    padding: 92px 24px 24px 24px; 
    margin: auto;
    justify-content: space-between;
}





@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }

}

 @media screen and (max-width: 768px) {
    .footer {
   width:722px;
        /* padding: 88px auto 24px; 
         margin-right: 24px;  */
     
    }} 
@media screen and (max-width: 525px) {
    .footer {
        width: 168px;
        display: block;
        padding-top: 64px;
        padding-left: 16px;
        margin-left: 0;
    }
}
   