/* place__url-heading */
.place__url-heading {
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
}

@media screen and (max-width: 424px) {
    .place__url-heading {
        display: none;
    }
}