/* __title */
.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 40px;

 
     
}



@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 720px;
         font-size: calc(100vw * (54 / 767));
        line-height: 1; 
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        max-width: 100%;
        font-size: 32px;
        line-height: 1;
    }
}
